.formFieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;

    label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        input{
            border: solid grey 1px;
            border-radius: 10px;
        }
    }

    button{
        border-radius: 10px;
        background-color: black;
        color: white;
        border:solid white 1px;        
    }

    button:hover{
        border-radius: 10px;
        background-color: white;
        color: black;
        border:solid black 1px;      
    }
}

