li{
    display: flex;
    justify-content: space-between;

    label{
        display: flex;
        justify-content: space-between;
        gap: 0.3rem;
    }

    input{
        border: none;
        max-width: 100px;

    }
}